<!DOCTYPE html>
<html>
<head>
    <title>Hello Telepresence for Docker!</title>
    <link rel="stylesheet" type="text/css" href="{{ renderPathPrefix }}/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" >
</head>
<body>

  <div class="main">
    <img src="{{ renderPathPrefix }}/images/telepresence-for-docker.svg"/>
    <div class="content">
      {{{body}}}
    </div>
  </div>

</body>
</html>
